<!-- <template name="chat">
  {{#if currentUser}}
  <ul>
    {{#each message}}
    <li class="chatmessage">{{ message }} </br>
      {{ message.player.name }} -- {{ message.time }}
    </li>
    {{ /each }}
    {{#if selectedPlayer}}
    <li>Selected Player: {{selectedPlayer.name}}</li>
    {{/if}}

  </ul>
  {{ chatForm }}
  {{else}}

  <p>You must be logged in to join chat.</p>
  {{/if}}
</template>

<template name="chatForm">
  <input type=textarea placeholder="Type your message here"></input>
  <button type="submit"  value="Add Message">
</template> -->
